* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

.navbar {
    background-color: #24262B;
    padding: 2%;
}

.navbar a,
.navbar li a {
    color: #FFFFFF;
}

.navbar a:hover,
.navbar li a:hover {
    color: #00C3FF;
}