<!-- seccion de encabezados -->
<section>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fab fa-github" style="font-size: 40px; color: white;"></i>
                GitDockerProject</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/inicio">Inicio</a></li>

                    <li class="nav-item"><a class="nav-link" href="/">GitHub</a></li>
                    <li class="nav-item"><a class="nav-link" href="/git">Git</a></li>
                    <li class="nav-item"><a class="nav-link" href="/git">GitHub</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Git</a></li>
                    <li class="nav-item"><a class="nav-link" href="/github">GitHub</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Docker</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Documentación</a></li>

                </ul>
            </div>
        </div>
    </nav>

</section>

<!-- seccion de encabezados -->
<!-- <section>
    <nav class="navbar navbar-expand-lg fixed-top">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="/inicio">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="/nosotros">Nosotros</a></li>
            <li class="nav-item"><a class="nav-link" href="/contactos">Contactos</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modalSesiones"><strong>Log
                        In</strong></a>
            </li>
        </ul>
    </nav>
    <app-sesiones></app-sesiones>

</section> -->
