<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row footer-row">
            <div class="col-md-3 footer-links">
                <h4>Proyecto GitDocker</h4>
                <ul class="list-unstyled">
                    <li><a href="#github" class="text-white text-decoration-none">¿Qué es GitHub?</a></li>
                    <li><a href="#git" class="text-white text-decoration-none">Uso de Git</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-links">
                <h4>Contenerización</h4>
                <ul class="list-unstyled">
                    <li><a href="#docker" class="text-white text-decoration-none">Introducción a Docker</a></li>
                    <li><a href="#docker" class="text-white text-decoration-none">Dockerfile y ejecución</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-links">
                <h4>Documentación</h4>
                <ul class="list-unstyled">
                    <li><a href="#documentacion" class="text-white text-decoration-none">Guía del proyecto</a></li>
                    <li><a href="#documentacion" class="text-white text-decoration-none">Archivo README</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-links">
                <h4>Síguenos</h4>
                <div class="social-links">
                    <a href="https://github.com/HLuiss17" target="_blank" class="text-white me-3"><i
                            class="fab fa-github fa-2x"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>